@import url(./vendor/fonts.css);

.page {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.contant {
    padding: 15% 120px;
    width: 54%;
    margin: 0 auto;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .3s;
}

.title {
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
}

.subtitle {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin-top: 8px;
    padding-top: 3px;
    padding-bottom: 14px;
}

.paragraph {
  display: block;
  height: 100%;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 0;      
}

.item {
    outline: none;
    border-bottom: 4px solid transparent;
}
.item_on-drop {
    box-sizing: border-box;
    border-bottom: 4px solid rgba(45, 170, 219, 0.6);
}

.block-container {
    position: relative;
}
.side-menu {    
    display: flex;
    width: fit-content;
    margin-left: -5px;
    position: absolute;
    opacity: 0;
    top: 10px;
    right: calc(100% + 16px);
    transition:  all .1s ease .2s;
}

.block-container:hover .side-menu {
    transition-delay: 0;
    opacity: 1;
}
.side-menu__button {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: #ECECEC;
    border: none;
    outline: none;
    border-radius: 2px;
    color: #838383;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.side-menu__button_type_title {
    background-image: url(images/icons/title.svg);
}

.side-menu__button_type_text {
    background-image: url(images/icons/text.svg);
}

.side-menu__button_type_delete {
    background-image: url(images/icons/delete.svg);
}

.side-menu__button_type_move {
    background-image: url(images/icons/remove.svg);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: none;
    padding-top: 10%;
  }

.popup.popup_is-opened {
  display: flex;
}

.popup__content {
  width: 40%;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

.popup__title {
  margin: 0;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}


.popup__button_disabled {
  background-color: white;
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

.popup__close {
  width: 35px;
  position: absolute;
  top: -35px;
  right: -35px;
  cursor: pointer;
}
.popup__logos {
  display: grid;
  min-height: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8%;
  padding: 0 7% 10%;
}

.popup__logo-container {
  position: relative;
}

.popup__logo-container:focus {
  transform: scale(1.12);
  transition: .3s;
}

.popup__logo-container:hover {
  cursor: pointer;
  transform: scale(1.12);
  transition: .3s;
}

.popup__logo {
  width: 100%;
  height: 100%;
}

.popup__button {
  width: 100%;
  height: 10%;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #000000;
  margin-top: 4%;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.popup__button_disabled {
  background-color: white;
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

.popup__form {
  
}

.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 5px 6px 13px;
}

.error-message {
  width: 100%;
  height: 13px;
  font-size: 12px;
  line-height: 1.25;
  color: #FF0000;
  display: block;
  padding-top: 3px;
}
  
  @media screen and (max-width: 540px) {
    .popup__content {
      width: calc(100% - 60px);
    }
  }

  @media screen and (max-width: 768px) {
    .popup__content {
      width: 45%;
      background-color: #fff;
    }
  }